{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Sign Up</h2>

<form method="POST" action="/signup/">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Username">
  <label for="email">Email:</label>
  <input type="email" name="email" placeholder="Email">
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Password">
  <label for="confirm_password">Confirm Password:</label>
  <input type="password" name="confirm_password" placeholder="Confirm Password">
  <button>Register</button>
</form>
{% endblock %}